{% extends 'base.html' %}
{% block content %}

    {% if question %}
        <h2 class="border-bottom py-2">{{ question.subject }}</h2>
        <div class="card my-3">
            <div class="card-body">
                <p class="card-text" style="white-space: pre-line;">
                    {{ question.content }}
                </p>
                <div class="d-flex justify-content-end">
                    <div class="badge bg-light text-dark p-2 text-start">
                        <div class="mb-2">{{ question.author.username }}</div>
                        <div>{{ question.create_date }}</div>
                    </div>
                </div>
                <div class="my-3">
                    <a class="recommend btn btn-sm btn-outline-secondary"
                       data-uri="{% url 'pybo:question_vote' question.id %}"
                       href="javascript:void(0)">추천
                        <span class="badge bg-light text-dark p-2 text-start">{{ question.voter.count }}</span>
                    </a>
                    {% if request.user == question.author %}
                        <a class="btn btn-primary" href="{% url 'pybo:question_modify' question.id %}">수정</a>
                        <a class="btn btn-danger" href="{% url 'pybo:question_delete' question.id %}">삭제</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <h5 class="border-bottom py-2'"> {{ question.answer_set.count }}개의 답변이 있습니다. </h5>
        {% for answer in answer_list %}
            <div class="card my-3">
                <div class="card-body">
                    <p class="card-text" style="white-space: pre-line;">{{ answer.content }}</p>
                    <div class="d-flex justify-content-end">
                        <div class="badge bg-light text-dark p-2 text-start">
                            <div class="mb-2">{{ answer.author.username }}</div>
                            <div>{{ answer.create_date }}</div>
                        </div>
                    </div>
                    <div class="my-3">
                        <a class="recommend btn btn-sm btn-outline-secondary"
                           data-uri="{% url 'pybo:answer_vote' answer.id %}"
                           href="javascript:void(0)">추천
                            <span class="badge bg-light text-dark p-2 text-start">{{ answer.voter.count }}</span>
                        </a>
                        {% if request.user == answer.author %}
                            <a class="btn btn-primary" href="{% url 'pybo:answer_modify' answer.id %}">수정</a>
                            <a class="btn btn-danger" href="{% url 'pybo:answer_delete' answer.id %}">삭제</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}

        <form action="{% url 'pybo:answer_create' question.id %}" method="post">
            <div class="form-floating">
                {% csrf_token %}
                <textarea class="form-control" name="content" id="content" rows="5"
                          placeholder="답변을 입력해주세요."
                        {% if not user.is_authenticated %} disabled {% endif %}></textarea>
                <label for="content">답변 작성</label>
                <input class="btn btn-primary" type="submit" value="등록">
            </div>
        </form>
    {% else %}
        <p>Invalid ID</p>
    {% endif %}
    <button class="my-3 btn btn-secondary" onclick="location.href='{% url 'pybo:index' %}'">돌아가기</button>
    <script>
        const recommendElements = document.getElementsByClassName('recommend');
        Array.from(recommendElements).forEach((element) => {
            element.addEventListener('click', function () {
                // send post request to uri
                const uri = element.dataset.uri;
                const request = new XMLHttpRequest();
                request.open('POST', uri, true);
                request.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                request.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
                request.send();
                request.onload = function () {
                    const data = JSON.parse(request.responseText);
                    // vote_count, message, error
                    if (data.error) {
                        alert(data.error);
                    } else {
                        element.getElementsByClassName('badge')[0].innerText = data.vote_count;
                    }

                };

            })
        });
    </script>
{% endblock %}