{% extends 'base.html' %}
{% block content %}

{% if question_list %}
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">번호</th>
            <th scope="col">글쓴이</th>
            <th scope="col" style="width: 50%">제목</th>
            <th scope="col">작성일시</th>
        </tr>
        </thead>
        <tbody>
        {% for question in question_list %}
            <tr>
                <th scope="row">{{ question.id }}</th>
                <td>{{ question.author.username }}</td>
                <td>
                    <a href="{% url 'pybo:detail' question.id %}">
                        {{ question.subject }}
                    </a>

                    {% if question.answer_set.count > 0 %}
                        <span class="text-danger small">
                            [답변 {{ question.answer_set.count }}]
                        </span>
                    {% endif %}
                </td>
                <td>{{ question.create_date }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <!-- paging -->
        <ul class="pagination justify-content-center">
            {% for page in question_list.elided_page_range %}
                {% if page == question_list.paginator.ELLIPSIS %}
                    <li class="page-item disabled"><span class="page-link">...</span></li>
                {% else %}
                    {% if page == question_list.number %}
                        <li class="page-item active"><span class="page-link">{{ page }}</span></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </ul>
    {% else %}
    <p>there is no question.</p>
{% endif %}
    <a href="{% url 'pybo:question_create' %}" class="btn btn-primary">질문 등록하기 </a>

{% endblock %}
  