{% extends 'base.html' %}
{% block content %}

{% if question %}
  <h1>{{ question.subject }}</h1>
    
  <div>
      {{ question.content }}
  </div>
  <div>
  <h5> {{ question.answer_set.count }}개의 답변이 있습니다. </h5>
  <ul>
  {% for answer in answer_list %}
    <li>
        {{ answer.content }}
    </li>
  {% endfor %}
  </ul>
  <form action="{% url 'pybo:answer_create' question.id %}" method="post">
    {% csrf_token %}
    <textarea class="form-control" name="content" id="content" rows="15"></textarea>
    <input class="my-3 btn btn-primary" type="submit" value="답변 등록">
  </form>
 

  {% else %}
  <p>Invalid ID</p>
{% endif %}
<button class="my-3 btn btn-secondary" onclick="location.href='{% url 'pybo:index' %}'">돌아가기</button>
{% endblock %}